{% extends 'base.html.twig' %}

{% block title %}Stuttgart{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main/form.css') }}">
{% endblock %}

{% block body %}
    <div class="preview prime_block">
        <video autoplay playsinline muted loop id="preview_video">
            <source src="{{ asset('video/preview.MOV') }}" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="container" style="position: relative; height: 90vh; overflow: visible">
            <div class="motto left_hidden">
                Детейлинг-центр
            </div>
            <div class="socials right_hidden">
                <div class="socials_detailing">
                    Детейлинг
                    <div class="links">
                        <a href="https://wa.me/79826269988" target="_blank"><img src="{{ asset('images/watsapp.svg') }}" alt=""></a>
                        <a href="https://t.me/andrey_detailingq" target="_blank"><img src="{{ asset('images/tg.svg') }}" alt=""></a>
                    </div>
                </div>
                <div class="socials_washing">
                    Мойка
                    <div class="links">
                        <a href="https://wa.me/79220306999" target="_blank"><img src="{{ asset('images/watsapp.svg') }}" alt=""></a>
                        <a href="https://vk.com/stuttgart_ekb" target="_blank"><img src="{{ asset('images/vk.svg') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="preview_mobile prime_block">
        <video autoplay playsinline muted loop id="preview_video">
            <source src="{{ asset('video/preview_mobile' ~ random(1, 2) ~ '.MOV') }}" type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="container" style="position: relative; height: 90vh; overflow: visible">
            <div class="motto left_hidden">
                Детейлинг-центр
            </div>
            <div class="socials right_hidden">
                <div class="socials_detailing">
                    Детейлинг
                    <div class="links">
                        <a href="https://wa.me/79826269988" target="_blank"><img src="{{ asset('images/watsapp.svg') }}" alt=""></a>
                        <a href="https://t.me/andrey_detailingq" target="_blank"><img src="{{ asset('images/tg.svg') }}" alt=""></a>
                    </div>
                </div>
                <div class="socials_washing">
                    Мойка
                    <div class="links">
                        <a href="https://wa.me/79220306999" target="_blank"><img src="{{ asset('images/watsapp.svg') }}" alt=""></a>
                        <a href="https://vk.com/stuttgart_ekb" target="_blank"><img src="{{ asset('images/vk.svg') }}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=""></script>

    <div class="about_us content_block prime_block desktop_block" id="about_us">
        <div class="container">
            <div class="first_line left_hidden">
                <span class="about_us_main">
                    <span class="main_color"><a href="/">Stuttgart</a></span> - уникальный детейлинг-салон Екатеринбурга, со своей собственной философией и подходом к гостям. Машина нашего клиента - наша машина и такой подход сохраняется вне зависимости от оказываемой услуги и обслуживаемого автомобиля.
                </span>
                <img src="{{ asset('images/main/aboutUs/inside2.webp') }}" alt="">
                <img src="{{ asset('images/main/aboutUs/place.webp') }}" alt="">
            </div>
            <div class="second_line right_hidden">
                <img src="{{ asset('images/main/aboutUs/inside.webp') }}" alt="">
                <img src="{{ asset('images/main/aboutUs/place2.webp') }}" alt="">
                <span class="about_us_secondary">
                    Наш авто-спа центр рад принять вас и помочь обновить или освежить внешний вид вашего железного коня. Для этого у нас доступны 4 направления:
                    {% for group in groups %}
                        <span class="direction main_color"><a onclick="javascript:void(0);" data-groupname="{{ group.getName() }}">— {{ group.getLabel() }}</a></span>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/aboutUs.js') }}"></script>


    <div class="about_us_mobile content_block prime_block" id="about_us_mobile">
        <div class="container">
            <span class="about_us_main left_hidden">
                <span class="main_color"><a href="/">Stuttgart</a></span> - уникальный детейлинг-салон Екатеринбурга, со своей собственной философией и подходом к гостям. Машина нашего клиента - наша машина и такой подход сохраняется вне зависимости от оказываемой услуги и обслуживаемого автомобиля.
            </span>
            <div class="images right_hidden">
                <img  data-fancybox="aboutUs" src="{{ asset('images/main/aboutUs/inside2.webp') }}" alt="">
                <img  data-fancybox="aboutUs" src="{{ asset('images/main/aboutUs/place.webp') }}" alt="">
                <img  data-fancybox="aboutUs" src="{{ asset('images/main/aboutUs/inside.webp') }}" alt="">
                <img  data-fancybox="aboutUs" src="{{ asset('images/main/aboutUs/place2.webp') }}" alt="">
            </div>
            <span class="about_us_secondary left_hidden">
                Наш авто-спа центр рад принять вас и помочь обновить или освежить внешний вид вашего железного коня. Для этого у нас доступны 4 направления:<br>
                {% for group in groups %}
                    <span class="direction main_color"><a onclick="javascript:void(0);" data-groupname="{{ group.getName() }}">— {{ group.getLabel() }}</a></span><br>
                {% endfor %}
            </span>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/aboutUs.js') }}"></script>

    <div class="services content_block prime_block desktop_block" id="services">
        <div class="container">
            <div class="main_services_block">
                <div class="groups left_hidden">
                    {% for group in groups %}
                        <div class="group" data-name="{{ group.getName() }}"  style="background: url({{ asset('images/main/services/'~ group.getName() ~'.jpg') }}) no-repeat center center / cover;">
                            <a onclick="javascript:void(0);">
                                <div class="overlay" data-groupname="{{ group.getName() }}">
                                    {{ group.getLabel() }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="categories right_hidden">
                    {% for group in groups %}
                        {% set categories = group.getCategories().getValues() %}
                        <div class="categories_container" data-groupname="{{ group.getName() }}" style="display: none;">
                            <div class="group_title">{{ group.getLabel() }}</div>
                            <div class="categories_box">
                                <ul>
                                    {% for category in categories %}
                                        <a href="{{ path('category_page', {'id': category.getId()}) }}">
                                            <li class="category">
                                                <span class="category_title">{{ category.getLabel() }}</span>
                                                <span class="category_min_price">от {{ category.getMinPrice() }}р.</span>
                                            </li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/services.js') }}"></script>

    <div class="services_mobile content_block prime_block" id="services_mobile">
        <div class="container">
            <div class="groups left_hidden">
                {% for group in groups %}
                    {% set categories = group.getCategories().getValues() %}
                    <figure class="group" data-name="{{ group.getName() }}">
                        <div class="group_wrapper">
                            <div class="face front" style="background: url({{ asset('images/main/services/'~ group.getName() ~'.jpg') }}) no-repeat center center / cover;">
                                <div class="overlay" data-groupname="{{ group.getName() }}" >

                                    {{ group.getLabel() }}
                                </div>
                            </div>
                            <div class="face back">
                                <div class="categories_container" data-groupname="{{ group.getName() }}">
                                    <div class="group_title">{{ group.getLabel() }}</div>
                                    <div class="categories_box">
                                        <ul style="height: 90%; display: flex; flex-direction: column; justify-content: space-between;">
                                            {% for category in categories %}
                                                <a href="{{ path('category_page', {'id': category.getId()}) }}">
                                                    <li class="category">
                                                        <span class="category_title">{{ category.getLabel() }}</span>
                                                        <span class="category_min_price">от {{ category.getMinPrice() }}р.</span>
                                                    </li>
                                                </a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="specials content_block main_block">
        <div class="container">
            <div class="title">
                Акция <br>полировка + керамика
            </div>
            <div class="main_wrapper">
                {% for key, special in specials %}
                    <span class="slider_item" title="{{ special.getText() }}" style="background: linear-gradient(
                            rgba(0, 0, 0, 0.7),
                            rgba(0, 0, 0, 0.7)
                            ), url({{ asset('images/main/services/detailing.jpg') }});">
                        <span class="slider_item_flex_wrapper"><p>{{ special.getLabel() }}</p></span>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/specials.js') }}"></script>

    <div class="reviews content_block main_block desktop_block" id="reviews" data-currentreview="0">
        <div class="container">
            <div class="slider">
                <span class="prev"><img src="{{ asset('images/main/specials/leftArrow.svg') }}" alt=""></span>
                <div class="main_wrapper">
                    {% for review in reviews %}
                        <div class="review_box">
                            <div class="client_info">
                                <span class="client_name">{{ review.getClientName() }}</span>,
                                <span class="client_visit_day">{{ review.getVisitDate() }}</span>
                            </div>
                            <div class="car_info">
                                <span class="car_name">{{ review.getCar() }}</span>,
                                <span class="car_service">{{ review.getService() }}</span>
                            </div>
                            <div class="review_body">{{ review.getText() }}</div>
                        </div>
                    {% endfor %}
                </div>
                <span class="next"><img src="{{ asset('images/main/specials/rightArrow.svg') }}" alt=""></span>
            </div>
            <div class="slider_counter">
                <div class="slider_counter_wrapper">
                    {% for key, review in reviews %}
                        <span class="review_counter" data-currentreview="{{ key }}"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/reviews.js') }}"></script>

    <div class="reviews_mobile content_block main_block" id="reviews_mobile" data-currentreview="0">
        <div class="container">
            <div class="slider">
                <div class="main_wrapper">
                    {% for review in reviews %}
                        <div class="review_box">
                            <div class="client_info">
                                <span class="client_name">{{ review.getClientName() }}</span>,
                                <span class="client_visit_day">{{ review.getVisitDate() }}</span>
                            </div>
                            <div class="car_info">
                                <span class="car_name">{{ review.getCar() }}</span>,
                                <span class="car_service">{{ review.getService() }}</span>
                            </div>
                            <div class="review_body">{{ review.getText() }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider_counter">
                <div class="slider_counter_wrapper">
                    {% for key, review in reviews %}
                        <span class="review_counter" data-currentreview="{{ key }}"></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/reviews_mobile.js') }}"></script>


    <div class="works content_block main_block desktop_block" id="works">
        <div class="container">
            <div class="blockTitle">
                Галерея работ
            </div>
            <div class="works_wrapper">
                {% for key, category in galleryCategories %}
                    {% if category.images is not empty %}
                        <div class="category_wrapper">
                            {% for imgKey, imgPath in category.images %}
                                {% if imgKey == 0 %}
                                    <div class="overlay"></div>
                                    <a href="{{ asset(imgPath) }}" data-fancybox="{{ key }}">
                                        <div class="work_category_preview">
                                            <div class="categoryLabel">
                                                {{ category.label }}
                                            </div>
                                            <img src="{{ asset(imgPath) }}" alt="">
                                        </div>
                                    </a>
                                {% else %}
                                    <img src="{{ asset(imgPath) }}" alt="" data-fancybox="{{ key }}" style="display: none">
                                {% endif %}
                            {% endfor %}
                            {% for videoKey, videoPath in category.video %}
                                <a href="{{ asset(videoPath) }}" alt="" data-fancybox="{{ key }}" style="display: none;">
                                    <img src="{{ asset('video/mp4.svg') }}" alt="">
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="form content_block main_block" id="form">
        <div class="container">
            <form class="form_wrapper" name="call_order"  method="POST">
                <div class="form_title">Закажите звонок</div>
                <div class="form_controls">
                    <div class="form_group">
                        <input type="text" class="form_field" placeholder="ФИО" name="name" id="name" autocomplete="off">
                        <label for="fio" class="form_label">Имя</label>
                    </div>
                    <div class="form_group">
                        <input type="text" class="form_field" placeholder="Телефон" name="phone" id="phone" autocomplete="off">
                        <label for="phone" class="form_label">Телефон</label>
                    </div>
                    <div class="form_group form_select">
                        <input type="text" class="form_field" placeholder="Категория" name="category" id="category" autocomplete="off" readonly="readonly">
                        <label for="category" class="form_label">Категория</label>
                        <div class="dropdown">
                            <ul>
                                {% for group in groups %}
                                    {% if group.getName() != 'washing' %}
                                        {% set categories = group.getCategories().getValues() %}
                                        {% if categories is not empty %}
                                            {% for category in categories %}
                                                <li class="option" data-value="{{ category.getLabel() }}">{{ category.getLabel() }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="submit_button">
                    <button type="submit" class="button">Заказать</button>
                </div>
            </form>
            <script src="{{ asset('js/main/form.js') }}" type="text/javascript"></script>

        </div>
    </div>

    <div class="yandex_map content_block desktop_block" id="map">
        <div id="map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4fbf5bca8c1473957145c5dff51f27d78d2c537147dcad2d6c9b1e34ab2cc282&amp;source=constructor" width="100%" height="288px" frameborder="0"></iframe>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/main/ymap.js') }}"></script>

{% endblock %}
