<footer>
    <div class="container">
        <div class="logo">
            <a href="">
                <div class="logo-flex">
                    <img src="{{ asset('images/logo.svg') }}" alt="">
                    <span class="title">Stuttgart</span>
                </div>
            </a>
        </div>
        <div class="footer_main_menu">
            <div class="footer_menu_wrapper">
                <span id="footer_main_menu_about_us"><a class="main_page_navigation_button" data-blocklabel="about_us" onclick="javascript:void(0);">О нас</a></span>
                <span id="footer_main_menu_services"><a class="main_page_navigation_button" data-blocklabel="services" onclick="javascript:void(0);">Услуги</a></span>
                <span id="footer_main_menu_reviews"><a class="main_page_navigation_button" data-blocklabel="reviews" onclick="javascript:void(0);">Отзывы</a></span>
                <span id="footer_main_menu_works"><a class="main_page_navigation_button" data-blocklabel="works">Работы</a></span>
                <span id="footer_main_menu_map"><a class="main_page_navigation_button" data-blocklabel="map" onclick="javascript:void(0);">Карта</a></span>
            </div>
        </div>
        <div class="contact_panel">
            <div class="contact_panel_wrapper">
                <div class="action_get_call main_action">
                    <a class="main_page_navigation_button" data-blocklabel="form" onclick="javascript:void(0);">Заказать звонок</a>
                </div>
                <div class="socials">
                    <a href="https://wa.me/79220306999" target="_blank"><img src="{{ asset('images/watsapp.svg') }}" alt=""></a>
                    <a href="https://vk.com/stuttgart_ekb" target="_blank"><img src="{{ asset('images/vk.svg') }}" alt=""></a>
                    <a href="https://t.me/79220306999" target="_blank"><img src="{{ asset('images/tg.svg') }}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="legal_information">
            <div class="legal_name">
                ООО "ШТУТГАРТ М"
            </div>
            <div class="schedule">
                ИНН: 6658532647<br>
                Юр адрес : 623711, обл Свердловская, г Березовский,<br>
                п. Кедровка, ул Пушкина, стр 55<br>
                ежедневно, с 08:00 до 22:00
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
<script type="text/javascript" src="{{ asset('js/footer.js') }}"></script>