<header>
    <div class="container">
        <div class="logo">
            <a href="/">
                <div class="logo-flex">
                    <img src="{{ asset('images/logo.svg') }}" alt="">
                    <h1 class="title">Stuttgart</h1>
                </div>
            </a>
        </div>
        <nav class="main_menu">
            <ul>
                <li id="main_menu_about_us"><a class="main_page_navigation_button" data-blocklabel="about_us" onclick="javascript:void(0);">О нас</a></li>
                <li id="main_menu_services"><a class="main_page_navigation_button" data-blocklabel="services" onclick="javascript:void(0);">Услуги</a></li>
                <li id="main_menu_reviews"><a class="main_page_navigation_button" data-blocklabel="reviews" onclick="javascript:void(0);">Отзывы</a></li>
                <li id="main_menu_works"><a class="main_page_navigation_button" data-blocklabel="works" onclick="javascript:void(0);">Работы</a></li>
                <li id="main_menu_map"><a class="main_page_navigation_button" data-blocklabel="map" onclick="javascript:void(0);">Карта</a></li>
            </ul>
        </nav>
        <div class="contact_panel">
            <div class="contact_panel_wrapper">
                <div class="action_get_call main_action">
                    <a class="main_page_navigation_button" data-blocklabel="form" onclick="javascript:void(0);">Заказать звонок</a>
                </div>
                <div class="socials">
                    <a href="https://wa.me/79220306999" target="_blank"><img src="{{ asset('images/watsapp.svg') }}" alt=""></a>
                    <a href="https://vk.com/stuttgart_ekb" target="_blank"><img src="{{ asset('images/vk.svg') }}" alt=""></a>
                    <a href="https://t.me/79220306999" target="_blank"><img src="{{ asset('images/tg.svg') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>
<link rel="stylesheet" href="{{ asset('css/header.css') }}">
<script type="text/javascript" src="{{ asset('js/header.js') }}"></script>